.project-navigate-btn {
    display: flex;

    justify-content: start;

    margin: 10px;
    padding: 12px 20px;

    color: var(--color-primary-dark);

    gap: 10px;
    font-size: 14px;

    background: transparent;
}